<article class="py-8 px-8 md:px-24 lg:px-64 space-y-4 mb-32">
    <h1 class="text-lg font-bold">Sobre nosotros</h1>
    <p>¡Hola a compañero!<p>
    <p>Somos un equipo de cinco estudiantes universitarios que estamos aquí para hacer tu vida académica más sencilla y
        organizada. Estamos encantados de presentarte nuestra aplicación web, diseñada específicamente para ayudarte en
        tu día a día en la universidad.</p>
    <p>Nuestra misión principal es brindarte información clara y accesible sobre tu horario de clases. Sabemos lo
        desafiante que puede ser mantenerse al tanto de todas las asignaturas, los horarios y los lugares de cada clase.
        Por eso, creamos esta aplicación con el objetivo de simplificar ese proceso para ti.</p>
    <p>Pero nuestra ambición no se detiene ahí. Estamos abiertos a ampliar nuestra aplicación con más características y
        utilidades que sean de tu interés. Queremos que esta plataforma se convierta en tu mejor aliada durante tu
        trayecto universitario. Así que, si tienes ideas o sugerencias, no dudes en compartirlas con nosotros. Tu
        opinión es muy valiosa para nosotros.</p>
    <p>¡Nos vemos en la aplicación!</p>
    <p class="italic">El equipo de Guía Alumno</p>
</article>